.hero-heading-image {
  max-width: 100px;
  width: 100%;
  margin-bottom: 40px;
}

.hero-subheading {
  color: white;
}

.filter-input {
  width:75%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding:1rem;
  border: solid 1px lightgray;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .filter-input {
    width:100%;
  }
}

.hero-button-row {
  margin-top: 1rem;
}

.stores-button-row {
  height: 0;
}

.buttons-container {
  margin-bottom: 3rem;
}

.btn {
  background: #205081;
  padding: 10px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0.2rem;
  font-weight: bold;
}
.btn:focus {
  outline: 0;
  /*color: white;*/
}
.btn:hover {
  color: black;
}

.small-btn {
  background: #05182b;
  padding: 5px 10px;
  font-size:9px;
  line-height: 15px;
}

.feature-btn {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: white;
  color: #333;
  border: solid 1px lightgray;
  font-size: 0.8rem;
}

.inactive-filter-btn {
  opacity: 0.4;
  box-shadow: none;
  /*background: grey;*/
  /*color: darkgray;*/
}

.unclickable {
  cursor: default;
}

.update-text {
  display: block;
  color: white;
}

.update-text a {
  color: white;
}
