.suggestion-row {
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  font-weight: bold;
  font-size: 0.6rem;
  border: solid 1px lightgray;
  margin-bottom: 1rem;
}

.suggestion-text-container {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: white;
  text-align: left;
  font-size: 15px;
  border: none;
}

.votes-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display:block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  border: solid 1px lightgray;
  margin: 1rem;
  font-size: 0.8rem;
  min-width: 55px;
}

.disabled-vote-box{
  border: 0;
  box-shadow: none;
}

.suggestion-title {
  line-height: normal;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.content {
  line-height: 1rem;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  border-top :solid 1px lightgray;
  padding-top: 0.3rem;
}
