.moderator-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.mod-button {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display:block;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    border: solid 1px lightgray;
    font-size: 0.8rem;
}
