.suggest-form {
  margin: 0 auto;
  border: solid 1px lightgray;
  max-width: 600px;
  padding: 1rem;
}

.formlabel {
  width: 100%;
  text-align: left;
}

.formlabel-hp {
  display: none;
}

.field-hp {
  display: none;
}

.field {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  resize: vertical;
}

.submit-button {
  padding: 0.5rem;
  width: 100%;
}

.suggestions-button{
  margin-top: 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: white;
  color: #333;
  border: solid 1px lightgray;
  font-size: 0.8rem;
}
.suggestions-button:hover {
  color: black;
}
